<div class="d-flex gap-2">
    <div class="d-flex align-items-center position-relative ms-auto">
        <span class="svg-icon svg-icon-1 position-absolute ms-4 text-dark"
            [inlineSVG]="'./assets/media/icons/duotune/general/gen021.svg'">
        </span>
        <input type="text" [(ngModel)]="searchString"
            class="form-control form-control-sm form-control-solid w-250px ps-14" placeholder="Search here">
    </div>
    <button type="button" class="btn py-2 btn-sm btn-primary" (click)="getFileCall(true)">
        Search
    </button>
</div>
<app-loader [show]="loading">
    <app-multi-type-file-preview [fileList]="fileList" (fileClick)="fileClick.emit($event)">
    </app-multi-type-file-preview>
    <app-no-record-found *ngIf="!fileList?.length && !loading" class="mt-20"></app-no-record-found>
    <div class="w-100 d-flex align-items-center justify-content-center py-2">
        <button class="btn btn-sm btn-primary py-2" *ngIf="totalFiles > fileList.length" (click)="getFileCall()">Load
            More</button>
    </div>
</app-loader>