<app-form-control-layout [hidden]="hidden.value" [prefix]="prefix || ''" [field]="field" [form]="form"
  [validators]="validators" [messages]="messages" (labelAction)="labelAction.emit($event)">

  <div [formGroup]="form">

    <div class="dropzone dz-clickable dz-started" appDroppableFile (click)="openFile()"
      (fileDropped)="fileChange($event)">
      <!--begin : message -->
      <div class="dz-message needsclick">
        <!-- begin : icon -->
        <i class="bi bi-file-earmark-arrow-up text-primary fs-3x"></i>
        <!-- end : icon -->

        <!-- begin: info -->
        <div class="ms-4">
          <h3 class="fs-5 fw-bolder text-gray-900 mb-1">Drop files here or click to upload. <a href="javascript:void(0)"
              class="fs-5 fw-bold text-primary" *ngIf="getFormArray()?.controls?.length"
              (click)="removeAllFile($event)">
              &nbsp; Remove All</a></h3>
          <span class="fs-7 fw-bold text-gray-400" *ngIf="validators?.maxFileAllowed">Upload up to
            {{validators?.maxFileAllowed}} files</span>
          <span class="fs-7 fw-bold text-gray-400" *ngIf="!validators?.maxFileAllowed">Upload up to
            unlimimted files</span>
        </div>
        <!-- end: info -->

        <input hidden id="{{prefix}}{{field?.key}}" multiple type="file" #fileInput name="multi_file"
          [formControlName]="controlKey" (change)="fileChange($any($event)?.target?.files)"
          accept="{{ field?.fileOptions?.accepts }}" />
      </div>

      <ng-container *ngFor="let file of getFormArray()?.controls; let i = index">
        <div class="dz-preview dz-file-preview dz-processing dz-error dz-complete" (click)="clickFile($event)">
          <div class="image-input image-input-outline" data-kt-image-input="true">

            <!-- begin: preview avatar -->
            <app-loader [show]="fileStatusEnum.IN_PROGRESS === file.value.status" type="small">
              <div class="image-input-wrapper w-125px h-125px"
                [style.background-image]="'url('+ file.value.path || defaultImage + ')'">
              </div>
            </app-loader>
            <!-- end: preview avatar -->

            <!-- begin : remove -->
            <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
              data-kt-image-input-action="change"
              ngbTooltip="{{ (field?.displayOptions?.remove || 'COMMON.TOOLTIP.REMOVE_IMAGE') | translate }}"
              container="body" triggers="manual" #ri="ngbTooltip" (click)="removeFile(i, $event)"
              (mouseenter)="ri.open()" (mouseleave)="ri.close()">
              <i class="bi bi-x fs-2"></i>
            </span>
            <!-- end: remove -->
          </div>

          <div *ngIf="file.value.error" class="dz-error-message">{{file.value.error}}</div>
        </div>
      </ng-container>
    </div>

    <!-- begin: display error message -->
    <span *ngIf="error" class="invalid-feedback fs-6 d-block">{{error}}<a *ngIf="clear" href="javascript:void(0);"
        (click)="_clearMessage()" ngbTooltip="{{ 'COMMON.TOOLTIP.RESET' | translate }}" container="body"
        triggers="manual" #reset="ngbTooltip" (click)="reset.open()" (mouseenter)="reset.open()"
        (mouseleave)="reset.close()">&nbsp;{{
        'COMMON.LABEL.RESET' | translate }}</a>
    </span>
    <!--end: display error message -->
  </div>
</app-form-control-layout>