<div class="d-flex gap-2 flex-column flex-md-row align-items-center justify-content-between mb-4"
    *ngIf="!selection?.length">
    <div class="d-flex align-items-center position-relative me-md-0">
        <span [inlineSVG]="'./assets/media/svg/new-svg-icons/search.svg'"
            class="svg-icon svg-icon-3 position-absolute ms-3"></span>
        <input type="text" [(ngModel)]="globalFilter" (input)="filterChange($event.target.value)"
            class="form-control form-control-sm min-h-auto max-w-100 form-control-solid ps-11 h-31px"
            placeholder="Search....">
    </div>
    <div class="d-flex align-items-center gap-2">
        <!-- <app-button [hidden]="options?.tableOptions?.filterDisable" [options]="filterConfig"
            (buttonCallback)="buttonCallback($event)"></app-button> -->

        <div ngbDropdown [hidden]="options?.tableOptions?.exportDisable">
            <button ngbDropdownToggle type="button" ngbTooltip="Export"
                class="btn btn-sm py-2 btn-flex btn-light-primary no-arrow">
                <span class="svg-icon svg-icon-6 svg-icon-muted me-3"
                    [inlineSVG]="'assets/media/icons/duotune/arrows/arr078.svg'"></span>
                Export</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button type="button" [hidden]="options?.tableOptions?.excelDisable" ngbDropdownItem
                    (click)="exportClick({ action: tableEventTypeEnum.EXPORT_EXCEL })">Excel</button>
                <button type="button" [hidden]="options?.tableOptions?.csvDisable" ngbDropdownItem
                    (click)="exportClick({ action: tableEventTypeEnum.EXPORT_CSV })">Csv</button>
                <button type="button" [hidden]="options?.tableOptions?.pdfDisable" ngbDropdownItem
                    (click)="exportClick({ action: tableEventTypeEnum.EXPORT_PDF })"> Pdf</button>
            </div>
        </div>

        <ng-container *ngIf="options?.actions?.add">
            <app-button [options]="options?.actions?.addConfig" (buttonCallback)="buttonCallback($event)"></app-button>
        </ng-container>

        <ng-container *ngIf="layoutType !== 'grid'">
            <app-button [hidden]="options?.actions?.columnToggleDisable" [options]="columnConfig"
                (buttonCallback)="buttonCallback($event)"></app-button>
        </ng-container>
        <app-button [hidden]="options?.tableOptions?.refreshDisable" [options]="refreshConfig"
            (buttonCallback)="buttonCallback($event)"></app-button>
    </div>
</div>
<div class="d-flex gap-3 flex-column flex-sm-row align-items-center justify-content-between mb-4"
    *ngIf="selection?.length">
    <div class="w-100 d-flex align-items-center justify-content-between justify-content-sm-start gap-3">
        <div class="fs-7 fs-xxl-5 fw-bold">{{selection?.length}} Selected</div>
        <div class="d-flex gap-3">
            <app-button [disabled]="checked" [options]="selectAllConfig" (buttonCallback)="buttonCallback($event)">
            </app-button>
            <app-button [options]="deselectAllConfig" (buttonCallback)="buttonCallback($event)"></app-button>
        </div>
    </div>
    <div class="w-100 d-flex align-items-center justify-content-center justify-content-sm-end gap-3 align">
        <ng-container *ngFor="let btn of options.bulkOptions?.buttons">
            <app-button [options]="btn" (buttonCallback)="buttonCallback($event)"></app-button>
        </ng-container>

        <div class="btn-group d-flex" *ngIf="options.bulkOptions?.groupButtons?.length">
            <ng-container *ngFor="let btn of options.bulkOptions?.groupButtons">
                <app-button [options]="btn" (buttonCallback)="buttonCallback($event)"></app-button>
            </ng-container>
        </div>

        <ng-container *ngIf="!options.bulkOptions?.deleteDisable">
            <app-button [options]="deleteConfig" (buttonCallback)="buttonCallback($event)"></app-button>
        </ng-container>

    </div>
</div>