<div class="modal-header pt-4 pb-3 px-7">
    <h3 class="card-title fw-bold text-gray-800">Extend</h3>
    <button type="button" class="btn-close" aria-label="Close button" aria-describedby="modal-title"
        (click)="close()"></button>
</div>
<form class="d-flex flex-column flex-fill h-100" [formGroup]="form">
    <div class="modal-body">
        <div class="d-flex h-100 flex-column scroll-y">
            <div class="d-flex h-100 flex-column scroll-y">
                <div class="d-flex h-100 flex-column h-100">
                    <div class="flex-fill h-100 overflow-y-auto">
                        <div class="pb-5">
                            <div class="row m-0">
                                <div class="col-12">
                                    <app-select #select [fieldConfig]="formFields.sk_no_of_month"
                                        [formConfig]="formConfig" [values]="values.sk_no_of_month" [form]="form">
                                    </app-select>
                                </div>
                            </div>
                        </div>
                        <div class="pb-5">
                            <div class="row m-0">
                                <div class="col-12">
                                    <app-input [fieldConfig]="formFields.sk_no_of_login" [formConfig]="formConfig"
                                        [values]="values.sk_no_of_login" [form]="form">
                                    </app-input>
                                </div>
                            </div>
                        </div>
                        <div class="pb-3">
                            <div class="row m-0">
                                <div class="col-12">
                                    <span class="fw-bold fs-6">Credit will Used : </span><span
                                        class="text-gray-400">{{form.get('sk_no_of_login').value}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer px-5 py-3">
        <button type="button" class="btn btn-md py-2 btn-light-primary" (click)="close()">Close</button>
        <button type="button" class="btn btn-md py-2 btn-primary" (click)="saveExtedData()">Extend</button>
    </div>
</form>