<div class="modal-header pt-4 pb-3 px-7">
    <h3 class="card-title fw-bold text-gray-800">Onboarding Details</h3>
    <button type="button" class="btn-close" aria-label="Close button" aria-describedby="modal-title"
        (click)="close()"></button>
</div>
<div class="modal-body">
    <img src="https://static.tildacdn.com/tild3237-6137-4031-b537-643664386434/The_approach_you_hav.gif"
        alt="Girl in a jacket" width="100%" height="600">
    <!-- <img [defaultImage]="defaultImage"
        [lazyLoad]="'https://static.tildacdn.com/tild3237-6137-4031-b537-643664386434/The_approach_you_hav.gif'"
        alt="Girl in a jacket" width="100%" height="600"> PROBLEM -->
    <div class="pt-5 text-center fs-4">Onboarding Text</div>
    <div class="pt-3 text-center text-gray-300 fs-6">Onboarding Description</div>
</div>
<div class="modal-footer py-2">
    <button type="button" class="btn btn-light-primary" (click)="close()">Close</button>
</div>