<!-- <app-loader [show]="loading">
    <div class="row">
        <div class="col-md-12" (mousewheel)="mousewheelHandler($event)">
            <div>
                <image-cropper class="cropper-container" style="height: 294px;"
                    [isStaicHeight]="{height : '294px' , staticHeight : true}" [containWithinAspectRatio]="false"
                    [transform]="transform" [cropper]=" coordinates" [imageChangedEvent]="options?.imageChangedEvent"
                    [canvasRotation]="canvasRotation" [maintainAspectRatio]="true" [aspectRatio]="aspectRatio"
                    [roundCropper]="options?.round" [cropperMinWidth]="200" [cropperMinHeight]="200" [format]="type"
                    [imageQuality]="30" (imageCropped)="imageCropped($event)"></image-cropper>
            </div>
        </div>
    </div>
</app-loader> -->