<app-loader [show]="loading">
    <div class="row gy-5 g-xl-10">
        <!--begin::Col-->
        <div class="col-sm-6 col-xl-3">
            <!--begin::Card widget 4-->
            <div class="card h-lg-100">
                <!--begin::Body-->
                <div class="card-body d-flex justify-content-between align-items-start flex-column">
                    <!--begin::Section-->
                    <div class="d-flex flex-column">
                        <!--begin::Number-->
                        <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{getData?.total_licence_key ||
                            0}}</span>
                        <!--end::Number-->
                        <!--begin::Follower-->
                        <div class="mt-3">
                            <span class="fw-semibold fs-6 text-primary">Total Licence Key</span>
                        </div>
                        <!--end::Follower-->
                    </div>
                    <!--end::Section-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card widget 4-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-sm-6 col-xl-3">
            <!--begin::Card widget 5-->
            <div class="card h-lg-100">
                <!--begin::Body-->
                <div class="card-body d-flex justify-content-between align-items-start flex-column">
                    <!--begin::Section-->
                    <div class="d-flex flex-column">
                        <!--begin::Number-->
                        <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{getData?.total_active_licence_key ||
                            0}}</span>
                        <!--end::Number-->
                        <!--begin::Follower-->
                        <div class="mt-3">
                            <span class="fw-semibold fs-6 text-primary">Active Licence Key</span>
                        </div>
                        <!--end::Follower-->
                    </div>
                    <!--end::Section-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card widget 5-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-sm-6 col-xl-3">
            <!--begin::Card widget 6-->
            <div class="card h-lg-100">
                <!--begin::Body-->
                <div class="card-body d-flex justify-content-between align-items-start flex-column">
                    <!--begin::Section-->
                    <div class="d-flex flex-column">
                        <!--begin::Number-->
                        <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{getData?.total_renewed_licence_key ||
                            0}}</span>
                        <!--end::Number-->
                        <!--begin::Follower-->
                        <div class="mt-3">
                            <span class="fw-semibold fs-6 text-primary">Renew Licence Key</span>
                        </div>
                        <!--end::Follower-->
                    </div>
                    <!--end::Section-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card widget 6-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-sm-6 col-xl-3">
            <!--begin::Card widget 7-->
            <div class="card h-lg-100">
                <!--begin::Body-->
                <div class="card-body d-flex justify-content-between align-items-start flex-column">
                    <!--begin::Section-->
                    <div class="d-flex flex-column">
                        <!--begin::Number-->
                        <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{getData?.total_unused_licence_key ||
                            0}}</span>
                        <!--end::Number-->
                        <!--begin::Follower-->
                        <div class="mt-3">
                            <span class="fw-semibold fs-6 text-primary">Unused Licence Key</span>
                        </div>
                        <!--end::Follower-->
                    </div>
                    <!--end::Section-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card widget 7-->
        </div>
        <!--end::Col-->
        <div class="col-sm-6 col-xl-3">
            <!--begin::Card widget 8-->
            <div class="card h-lg-100">
                <!--begin::Body-->
                <div class="card-body d-flex justify-content-between align-items-start flex-column">
                    <!--begin::Section-->
                    <div class="d-flex flex-column">
                        <!--begin::Number-->
                        <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{getData?.total_expire_licence_key ||
                            0}}</span>
                        <!--end::Number-->
                        <!--begin::Follower-->
                        <div class="mt-3">
                            <span class="fw-semibold fs-6 text-primary">Expire Licence Key</span>
                        </div>
                        <!--end::Follower-->
                    </div>
                    <!--end::Section-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card widget 8-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-sm-6 col-xl-3">
            <!--begin::Card widget 2-->
            <div class="card h-lg-100">
                <!--begin::Body-->
                <div class="card-body d-flex justify-content-between align-items-start flex-column">
                    <div class="d-flex flex-column">
                        <!--begin::Number-->
                        <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{getData?.total_remaining_credit ||
                            0}}</span>
                        <!--end::Number-->
                        <!--begin::Follower-->
                        <div class="mt-3">
                            <span class="fw-semibold fs-6 text-primary">Remaining Credit</span>
                        </div>
                        <!--end::Follower-->
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card widget 2-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-sm-6 col-xl-3">
            <!--begin::Card widget 2-->
            <div class="card h-lg-100">
                <!--begin::Body-->
                <div class="card-body d-flex justify-content-between align-items-start flex-column">
                    <!--begin::Section-->
                    <div class="d-flex flex-column">
                        <!--begin::Number-->
                        <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{getData?.total_used_credit ||
                            0}}</span>
                        <!--end::Number-->
                        <!--begin::Follower-->
                        <div class="mt-3">
                            <span class="fw-semibold fs-6 text-primary">Used Credit</span>
                        </div>
                        <!--end::Follower-->
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card widget 2-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-sm-6 col-xl-3">
            <!--begin::Card widget 3-->
            <div class="card h-lg-100">
                <!--begin::Body-->
                <div class="card-body d-flex justify-content-between align-items-start flex-column">
                    <!--begin::Section-->
                    <div class="d-flex flex-column">
                        <!--begin::Number-->
                        <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{getData?.total_user || 0}}</span>
                        <!--end::Number-->
                        <!--begin::Follower-->
                        <div class="mt-3">
                            <span class="fw-semibold fs-6 text-primary">Users</span>
                        </div>
                        <!--end::Follower-->
                    </div>
                    <!--end::Section-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card widget 3-->
        </div>
        <!--end::Col-->
    </div>

    <div class="row">
        <div class="col-12 py-5 pt-7">
            <div class="fw-bold fs-4 ps-1">Admin panel FAQs on Dashboard page</div>
            <div class="fw-bold fs-4 ps-1">FAQs</div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ngb-accordion>
                <ngb-panel id="ng-1" title="How can I create License key for my customer?">
                    <ng-template ngbPanelContent>
                        Creating a Licence key for your customer can be done by navigating to Home > Licence Key >
                        Create Licence Key.
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="ng-2" title="What is Credit?">
                    <ng-template ngbPanelContent>
                        <div>You will be able to view the Credit that is generated for each purchase you make. </div>
                        <div>1 Credit = 1 Device per 1 month.</div>
                        <div>1 Credit charge is flat at $6.50 per unit (18% discount) (Minimum order for 20 credits)
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="ng-3" title="What is Dashboard?">
                    <ng-template ngbPanelContent>
                        On the Dashboard, you can view various counts that will provide you with insight into your sales
                        performance & other informations.
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="ng-4" title="What is the purpose of License key page?">
                    <ng-template ngbPanelContent>
                        On the License Key page, you can view a list of generated license keys and associated
                        information. Here, you have also the option to create a new license key, simply click the
                        'Create License Key' button.
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="ng-5" title="What is the purpose of Credit history page?">
                    <ng-template ngbPanelContent>
                        On the Credit history page you can view a list of transaction which you perform to generate
                        License key and associated information.
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="ng-6" title="What is the purpose of the Users page?">
                    <ng-template ngbPanelContent>
                        You can see the your end customer information.
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="ng-7" title="What is the purpose of the Billing page?">
                    <ng-template ngbPanelContent>
                        On the billing page, you can access details of the transaction made to acquire credits for your
                        account.
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="ng-8" title="How can I purchase more credit?">
                    <ng-template ngbPanelContent>
                        Please contact us to purchase additional credit.
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="ng-9" title="What is License Key?">
                    <ng-template ngbPanelContent>
                        A License Key is necessary to access the advanced functions of the extension.
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="ng-10" title="How can my end user active Premium feature with License Key?">
                    <ng-template ngbPanelContent>
                        You need to select: Profile > Insert License key > Enter License key > Click “Save”
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</app-loader>