<app-loader [show]="loading">
    <div class="row gy-5 g-xl-10">
        <!--begin::Col-->
        <div class="col-sm-6 col-xl-3">
            <!--begin::Card widget 4-->
            <div class="card h-lg-100">
                <!--begin::Body-->
                <div class="card-body d-flex justify-content-between align-items-start flex-column">
                    <!--begin::Section-->
                    <div class="d-flex flex-column">
                        <!--begin::Number-->
                        <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{getData?.total_licence_key ||
                            0}}</span>
                        <!--end::Number-->
                        <!--begin::Follower-->
                        <div class="mt-3">
                            <span class="fw-semibold fs-6 text-primary">Total Licence Key</span>
                        </div>
                        <!--end::Follower-->
                    </div>
                    <!--end::Section-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card widget 4-->
        </div>
        <div class="col-sm-6 col-xl-3">
            <!--begin::Card widget 5-->
            <div class="card h-lg-100">
                <!--begin::Body-->
                <div class="card-body d-flex justify-content-between align-items-start flex-column">
                    <!--begin::Section-->
                    <div class="d-flex flex-column">
                        <!--begin::Number-->
                        <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{getData?.total_active_licence_key ||
                            0}}</span>
                        <!--end::Number-->
                        <!--begin::Follower-->
                        <div class="mt-3">
                            <span class="fw-semibold fs-6 text-primary">Active Licence Key</span>
                        </div>
                        <!--end::Follower-->
                    </div>
                    <!--end::Section-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card widget 5-->
        </div>
        <div class="col-sm-6 col-xl-3">
            <!--begin::Card widget 6-->
            <div class="card h-lg-100">
                <!--begin::Body-->
                <div class="card-body d-flex justify-content-between align-items-start flex-column">
                    <!--begin::Section-->
                    <div class="d-flex flex-column">
                        <!--begin::Number-->
                        <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{getData?.total_renewed_licence_key ||
                            0}}</span>
                        <!--end::Number-->
                        <!--begin::Follower-->
                        <div class="mt-3">
                            <span class="fw-semibold fs-6 text-primary">Renew Licence Key</span>
                        </div>
                        <!--end::Follower-->
                    </div>
                    <!--end::Section-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card widget 6-->
        </div>
        <div class="col-sm-6 col-xl-3">
            <!--begin::Card widget 7-->
            <div class="card h-lg-100">
                <!--begin::Body-->
                <div class="card-body d-flex justify-content-between align-items-start flex-column">
                    <!--begin::Section-->
                    <div class="d-flex flex-column">
                        <!--begin::Number-->
                        <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{getData?.total_unused_licence_key ||
                            0}}</span>
                        <!--end::Number-->
                        <!--begin::Follower-->
                        <div class="mt-3">
                            <span class="fw-semibold fs-6 text-primary">Unused Licence Key</span>
                        </div>
                        <!--end::Follower-->
                    </div>
                    <!--end::Section-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card widget 7-->
        </div>
        <div class="col-sm-6 col-xl-3">
            <!--begin::Card widget 8-->
            <div class="card h-lg-100">
                <!--begin::Body-->
                <div class="card-body d-flex justify-content-between align-items-start flex-column">
                    <!--begin::Section-->
                    <div class="d-flex flex-column">
                        <!--begin::Number-->
                        <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{getData?.total_expire_licence_key ||
                            0}}</span>
                        <!--end::Number-->
                        <!--begin::Follower-->
                        <div class="mt-3">
                            <span class="fw-semibold fs-6 text-primary">Expire Licence Key</span>
                        </div>
                        <!--end::Follower-->
                    </div>
                    <!--end::Section-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card widget 8-->
        </div>
        <div class="col-sm-6 col-xl-3">
            <!--begin::Card widget 3-->
            <div class="card h-lg-100">
                <!--begin::Body-->
                <div class="card-body d-flex justify-content-between align-items-start flex-column">
                    <!--begin::Section-->
                    <div class="d-flex flex-column">
                        <!--begin::Number-->
                        <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{getData?.total_user || 0}}</span>
                        <!--end::Number-->
                        <!--begin::Follower-->
                        <div class="mt-3">
                            <span class="fw-semibold fs-6 text-primary">Users</span>
                        </div>
                        <!--end::Follower-->
                    </div>
                    <!--end::Section-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card widget 3-->
        </div>
        <div class="col-sm-6 col-xl-3">
            <!--begin::Card widget 2-->
            <div class="card h-lg-100">
                <!--begin::Body-->
                <div class="card-body d-flex justify-content-between align-items-start flex-column">
                    <div class="d-flex flex-column">
                        <!--begin::Number-->
                        <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{getData?.total_remaining_credit ||
                            0}}</span>
                        <!--end::Number-->
                        <!--begin::Follower-->
                        <div class="mt-3">
                            <span class="fw-semibold fs-6 text-primary">Remaining Credit</span>
                        </div>
                        <!--end::Follower-->
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card widget 2-->
        </div>
        <div class="col-sm-6 col-xl-3">
            <!--begin::Card widget 2-->
            <div class="card h-lg-100">
                <!--begin::Body-->
                <div class="card-body d-flex justify-content-between align-items-start flex-column">
                    <!--begin::Section-->
                    <div class="d-flex flex-column">
                        <!--begin::Number-->
                        <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{getData?.total_used_credit ||
                            0}}</span>
                        <!--end::Number-->
                        <!--begin::Follower-->
                        <div class="mt-3">
                            <span class="fw-semibold fs-6 text-primary">Used Credit</span>
                        </div>
                        <!--end::Follower-->
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card widget 2-->
        </div>
        <div class="col-sm-6 col-xl-3">
            <!--begin::Card widget 3-->
            <div class="card h-lg-100">
                <!--begin::Body-->
                <div class="card-body d-flex justify-content-between align-items-start flex-column">
                    <!--begin::Section-->
                    <div class="d-flex flex-column">
                        <!--begin::Number-->
                        <span
                            class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{getData?.total_lifetime_remaining_credit
                            || 0}}</span>
                        <!--end::Number-->
                        <!--begin::Follower-->
                        <div class="mt-3">
                            <span class="fw-semibold fs-6 text-primary">Remaining Lifetime Credit</span>
                        </div>
                        <!--end::Follower-->
                    </div>
                    <!--end::Section-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card widget 3-->
        </div>
        <div class="col-sm-6 col-xl-3">
            <!--begin::Card widget 3-->
            <div class="card h-lg-100">
                <!--begin::Body-->
                <div class="card-body d-flex justify-content-between align-items-start flex-column">
                    <!--begin::Section-->
                    <div class="d-flex flex-column">
                        <!--begin::Number-->
                        <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{getData?.total_lifetime_used_credit
                            || 0}}</span>
                        <!--end::Number-->
                        <!--begin::Follower-->
                        <div class="mt-3">
                            <span class="fw-semibold fs-6 text-primary">Used Lifetime Credit</span>
                        </div>
                        <!--end::Follower-->
                    </div>
                    <!--end::Section-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card widget 3-->
        </div>
        <div class="col-sm-6 col-xl-3">
            <!--begin::Card widget 3-->
            <div class="card h-lg-100">
                <!--begin::Body-->
                <div class="card-body d-flex justify-content-between align-items-start flex-column">
                    <!--begin::Section-->
                    <div class="d-flex flex-column">
                        <!--begin::Number-->
                        <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{getData?.total_refund_licence_key
                            || 0}}</span>
                        <!--end::Number-->
                        <!--begin::Follower-->
                        <div class="mt-3">
                            <span class="fw-semibold fs-6 text-primary">Refund Licence Key</span>
                        </div>
                        <!--end::Follower-->
                    </div>
                    <!--end::Section-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card widget 3-->
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-6 pt-7">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-gray-800 mb-0">Link to offer your extension.</h4>
                    <p class="fs-6 fw-semibold text-gray-600 py-4 m-0">Share this URL with your customers to access and
                        download your extension.
                    </p>
                    <div class="d-flex">
                        <input type="text" class="form-control form-control-solid me-3 flex-grow-1" readonly
                            value="{{userData?.reseller_ext_link}}">
                        <button class="btn  btn-primary fw-bold flex-shrink-0" (click)="copyUrl()">Copy Link</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-loader>