<div class="modal-header pt-4 pb-3 px-7">
    <h3 class="card-title fw-bold text-gray-800">Create Licence key</h3>
    <button type="button" class="btn-close" aria-label="Close button" aria-describedby="modal-title"
        (click)="close()"></button>
</div>
<app-loader [show]="loading">
    <form [formGroup]="form" (ngSubmit)="submit()" class="d-flex flex-column flex-fill h-100">
        <div class="d-flex h-100 flex-column h-100">
            <div class="flex-fill h-100 overflow-y-auto pt-3">
                <div class="row px-5 px-xl-12 py-2">
                    <div class="col-12 px-0">
                        <app-select #select [fieldConfig]="formFields.no_of_month" [formConfig]="formConfig"
                            [form]="form">
                        </app-select>
                    </div>
                </div>
                <div class="row px-5 px-xl-12 py-2">
                    <div class="col-12 px-0">
                        <app-input [fieldConfig]="formFields.no_of_device" [formConfig]="formConfig" [form]="form"
                            (detectAction)="detectAction()">
                        </app-input>
                    </div>
                </div>
                <div class="row px-5 px-xl-12 py-2">
                    <div class="col-12 px-0">
                        <app-select #select [fieldConfig]="formFields.plan_type" [formConfig]="formConfig"
                            [form]="form">
                        </app-select>
                    </div>
                </div>
                <div class="row px-5 px-xl-12 py-2">
                    <div class="col-12 px-0">
                        <span class="fw-bold fs-6 ">Credit will Used : </span><span
                            class="text-gray-400">{{form.get('no_of_device').value * form.get('no_of_month').value ||
                            '-'}}</span>
                    </div>
                </div>
                <!-- <div class="row px-5 px-xl-12 py-2">
                <div class="col-12 px-0 pb-5">
                    <span class="fw-bold fs-6 ">Remaing credit : </span><span class="text-gray-400">5</span>
                </div>
            </div> -->
            </div>
            <div class="modal-footer px-5 py-3">
                <button type="button" class="btn btn-md py-2 btn-light-primary" (click)="close()">Close</button>
                <button type="submit" class="btn btn-md py-2 btn-primary">Create</button>
            </div>
        </div>
    </form>
</app-loader>