<div class="row">
    <div class="col-12">
        <ngb-accordion>
            <ngb-panel id="ng-1" title="How can I create License key for my customer?">
                <ng-template ngbPanelContent>
                    Creating a Licence key for your customer can be done by navigating to Home > Licence Key >
                    Create Licence Key.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="ng-2" title="What is Credit?">
                <ng-template ngbPanelContent>
                    <div>You will be able to view the Credit that is generated for each purchase you make. </div>
                    <div>1 Credit = 1 Device per 1 month.</div>
                    <div>1 Credit charge is flat at $6.50 per unit (18% discount) (Minimum order for 20 credits)
                    </div>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="ng-3" title="What is Dashboard?">
                <ng-template ngbPanelContent>
                    On the Dashboard, you can view various counts that will provide you with insight into your sales
                    performance & other informations.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="ng-4" title="What is the purpose of License key page?">
                <ng-template ngbPanelContent>
                    On the License Key page, you can view a list of generated license keys and associated
                    information. Here, you have also the option to create a new license key, simply click the
                    'Create License Key' button.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="ng-5" title="What is the purpose of Credit history page?">
                <ng-template ngbPanelContent>
                    On the Credit history page you can view a list of transaction which you perform to generate
                    License key and associated information.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="ng-6" title="What is the purpose of the Users page?">
                <ng-template ngbPanelContent>
                    You can see the your end customer information.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="ng-7" title="What is the purpose of the Billing page?">
                <ng-template ngbPanelContent>
                    On the billing page, you can access details of the transaction made to acquire credits for your
                    account.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="ng-8" title="How can I purchase more credit?">
                <ng-template ngbPanelContent>
                    Please contact us to purchase additional credit.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="ng-9" title="What is License Key?">
                <ng-template ngbPanelContent>
                    A License Key is necessary to access the advanced functions of the extension.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="ng-10" title="How can my end user active Premium feature with License Key?">
                <ng-template ngbPanelContent>
                    You need to select: Profile > Insert License key > Enter License key > Click “Save”
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>