<app-form-control-layout [hidden]="hidden.value" [prefix]="prefix || ''" [field]="field" [form]="form"
  [validators]="validators" [messages]="messages" (labelAction)="labelAction.emit($event)">
  <div [formGroup]="form" class="position-relative">
    <div class="overlay overflow-hidden" (click)="openImageUploader()">
      <div class="p-0">
        <div class="overlay-wrapper h-150px bg-gray-100">
          <img [onErrorImage]="fileEnum.IMAGE"
            [img-preloader]="form?.get(field.key)?.value ? (bucketAwsUrl+ form?.get(field.key)?.value) : fileEnum.IMAGE"
            alt="" class="w-100 h-100 rounded" />
        </div>
        <div class="overlay-layer bg-dark bg-opacity-25 h-150px rounded">
          <a href="javascript:void(0)" class="btn btn-primary btn-shadow">Upload</a>
        </div>
      </div>
    </div>
  </div>
</app-form-control-layout>