<div class="modal-header pt-4 pb-3 px-7">
    <h3 class="card-title fw-bold text-gray-800">Message Copy</h3>
    <button type="button" class="btn-close" aria-label="Close button" aria-describedby="modal-title"
        (click)="close()"></button>
</div>
<div class="modal-body">
    <p>Thank you for purchasing your license key.</p>

    <p> This license key provides access for premium features.</p>
    <div> You can download our extension from the following URL, or contact us for installation:</div>
    <div><a href="https://wawf.s2-tastewp.com" target="_blank">https://wawf.s2-tastewp.com</a></div>
    <div class="pt-3">Your license:</div>
    <div>97f5c34a-0001-47d0-8924-433cd9d46b8f</div>
    <div class="pt-3">Number of devices:</div>
    <div>1</div>
    <p class="pt-3"> If you have any questions, do not hesitate to contact us. We are here to help.</p>
</div>
<div class="modal-footer py-2">
    <button type="button" class="btn btn-md py-2 btn-light-primary" (click)="close()">Close</button>
    <button type="button" class="btn btn-md py-2 btn-primary">Copy</button>
</div>