<div class="modal-header py-6 px-7">
    <h3 class="card-title fw-bold text-gray-800">Message Copy</h3>
    <button type="button" class="btn-close" aria-label="Close button" aria-describedby="modal-title"
        (click)="close()"></button>
</div>
<div class="modal-body">
    <p>Thank you for purchasing your license key.</p>
    <p>This license key provides access for premium features.</p>
    <div>You can download our extension from the following URL, or contact us for installation:</div>
    <div><a href="{{userData?.reseller_ext_link}}" target="_blank">{{userData?.reseller_ext_link}}</a></div>
    <div class="pt-3">Your license:</div>
    <div>{{data?.sk_licence_key}}</div>
    <div class="pt-3">Number of devices:</div>
    <div>{{data?.sk_no_of_login}}</div>
    <div class="pt-3">Month:</div>
    <div>{{data?.sk_no_of_month}}</div>
    <p class="pt-3"> If you have any questions, do not hesitate to contact us. We are here to help.</p>
</div>
<div class="modal-footer py-2">
    <button type="button" class="btn btn-md py-2 btn-light-primary" (click)="close()">Close</button>
    <button type="button" class="btn btn-md py-2 btn-primary" (click)="copyMesage()">Copy</button>
</div>