<div class="modal-header py-6 px-7">
    <h3 class="card-title fw-bold text-gray-800">Device History</h3>
    <button type="button" class="btn-close" aria-label="Close button" aria-describedby="modal-title"
        (click)="close()"></button>
</div>
<div class="modal-body">
    <app-loader [show]="loading">
        <app-table #table [options]="tableConfig" [count]="count" [rows]="tableList"
            (tableCallback)="tableCallback($event)" [emptyTemplate]="noResultFound">
        </app-table>
        <ng-template #noResultFound>
            <app-no-result-found *ngIf="!loading" class="py-20"></app-no-result-found>
        </ng-template>
    </app-loader>
</div>