<!--begin::Card widget 17-->
<div class="card card-flush h-100" [ngClass]="cssClass">
  <!--begin::Header-->
  <div class="card-header pt-5">
    <!--begin::Title-->
    <div class="card-title d-flex align-items-start justify-content-between w-100">
      <div>
        <div class="fs-2hx fw-bold text-dark me-2 lh-1 ls-n2">{{data?.total_winner_looser}}</div>
        <div class="text-gray-800 pt-1 fw-semibold fs-6">Total Winner Loser</div>
      </div>
      <div>
        <img [defaultImage]="defaultImage" [lazyLoad]="svgIcon" class="h-50px w-50px" />
      </div>
    </div>
    <!--end::Title-->
  </div>
  <!--end::Header-->

  <!--begin::Card body-->
  <div class="card-body pt-2 pb-4 d-flex flex-wrap align-items-center">
    <!--begin::Chart-->
    <div class="d-flex flex-center me-5 pt-2">
      <div [id]="id" [ngStyle]="{'min-width': chartSize + 'px', 'min-height': chartSize + 'px'}"
        [attr.data-kt-size]="chartSize" [attr.data-kt-line]="chartLine">
      </div>
    </div>
    <!--end::Chart-->

    <!--begin::Labels-->
    <div class="d-flex flex-column content-justify-center flex-row-fluid">

      <!--begin::Label-->
      <div class="d-flex fw-semibold align-items-center mb-3">
        <!--begin::Bullet-->
        <div class="bullet w-8px h-3px rounded-2 bg-primary me-3"></div>
        <!--end::Bullet-->

        <!--begin::Label-->
        <div class="text-gray-500 flex-grow-1 me-4">Winner</div>
        <!--end::Label-->

        <!--begin::Stats-->
        <div class="fw-bolder text-gray-700 text-xxl-end">{{data?.total_winner}}</div>
        <!--end::Stats-->
      </div>
      <!--end::Label-->

      <!--begin::Label-->
      <div class="d-flex fw-semibold align-items-center">
        <!--begin::Bullet-->
        <div class="bullet w-8px h-3px rounded-2 me-3" style="background-color: #714407"></div>
        <!--end::Bullet-->

        <!--begin::Label-->
        <div class="text-gray-500 flex-grow-1 me-4">Loser</div>
        <!--end::Label-->

        <!--begin::Stats-->
        <div class=" fw-bolder text-gray-700 text-xxl-end">{{data?.total_looser}}</div>
        <!--end::Stats-->
      </div>
      <!--end::Label-->
    </div>
    <!--end::Labels-->
  </div>
  <!--end::Card body-->
</div>
<!--end::Card widget 17-->