<app-loader [show]="loading">
    <div class="d-flex flex-column w-100 h-100">
        <div class="d-flex gap-2 pb-5">
            <h3 *ngIf="isFile" class="mr-auto cursor-pointer d-flex align-items-center mb-0" (click)="gotoFolder()">
                <i class="fa fa-chevron-left me-5"></i> <span class="w-70px w-sm-150px text-truncate">{{
                    selectedFolder.gf_name }}</span>
            </h3>
            <div class="d-flex align-items-center position-relative ms-auto">
                <span class="svg-icon svg-icon-1 position-absolute ms-4 text-dark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
                            transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
                        <path
                            d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                            fill="currentColor"></path>
                    </svg>
                </span>
                <input type="text" (change)="filterChange($event)" [(ngModel)]="searchString"
                    class="form-control form-control-sm form-control-solid ps-14"
                    [placeholder]="'Search ' + isFolder ? 'Folders' : 'Images' ">
            </div>
            <button type="button" class="btn btn-sm py-2 btn-primary">
                Search
            </button>
        </div>
        <div class="d-flex flex-fill h-100 w-100 overflow-y-auto">
            <div class="row w-100">
                <ng-container *ngIf="isFolder">
                    <div class="col-lg-6 col-xl-3 mb-5 h-fit" *ngFor="let folder of filteredFolderList">
                        <div class="card w-100 h-100 bg-light" (click)="gotoFile(folder)">
                            <div
                                class="card-body d-flex justify-content-center text-center flex-column py-8 px-4 cursor-pointer">
                                <a href="javascript:void(0);"
                                    class="text-gray-800 text-hover-primary d-flex flex-column">
                                    <div class="symbol symbol-75px mb-5">
                                        <img [defaultImage]="defaultImage"
                                            [lazyLoad]="'/assets/media/svg/files/folder-document.svg'" alt="">
                                    </div>
                                    <div class="fs-5 fw-bolder mb-2 text-truncate">{{folder.gf_name}}</div>
                                </a>
                                <!-- <div class="fs-7 fw-bold text-gray-400">7 files</div> -->
                            </div>
                        </div>
                    </div>
                    <app-no-result-found *ngIf="!filteredFolderList?.length && !loading" class="mt-25">
                    </app-no-result-found>
                </ng-container>
                <ng-container *ngIf="isFile">
                    <!-- <ng-container *ngFor="let folder of folderList"> -->
                    <div class="col-lg-6 col-xl-3 mb-5 h-fit" *ngFor="let file of folderImages">
                        <div class="card w-100 h-100 bg-light"
                            (click)="imageClicked.emit({ filename: file.gl_filename, provider: 'gallary', url: file.gl_filepath, type: file.gl_type })">
                            <div class="card-body d-flex justify-content-center text-center flex-column p-8">
                                <a href="javascript:void(0);"
                                    class="text-gray-800 text-hover-primary d-flex flex-column">
                                    <div class="symbol symbol-75px mb-5">
                                        <img [onErrorImage]="defaultImage"
                                            [img-preloader]="bucketAwsUrl+file.gl_filepath" alt="" class="object-cover">
                                    </div>
                                    <div class="fs-5 fw-bolder mb-2 text-truncate">{{file.gl_filename}}</div>
                                </a>
                                <!-- <div class="fs-7 fw-bold text-gray-400">3 days ago</div> -->
                            </div>
                        </div>
                    </div>
                    <div class="w-100 d-flex align-items-center justify-content-center py-2">
                        <button class="btn btn-sm btn-primary py-2"
                            *ngIf="(totalImageCount > folderImages?.length) && !loading"
                            (click)="galleryFolderImagesApiCall()">Load
                            More</button>
                    </div>
                    <app-no-result-found *ngIf="!folderImages?.length && !loading" class="mt-25"></app-no-result-found>
                    <!-- </ng-container> -->
                </ng-container>
            </div>
        </div>
    </div>
</app-loader>