<div [formGroup]="form" class="position-relative custom-py-3-editor" [hidden]="hidden.value">
    <label class="{{ field?.classNames?.label || 'form-label fw-medium fs-7 pb-2 mb-0' }}" for="{{id}}"
        [ngClass]="{  'required': validators?.required, 'text-danger': ((form?.get(field.key)?.dirty || form?.get(field.key)?.touched) && form?.get(field.key)?.errors) } ">{{
        field?.displayOptions?.label | translate }}
        <!-- begin: tooltip icon -->
        <i *ngIf="field?.displayOptions?.tooltip" [placement]="field?.tooltipOptions?.position || 'auto'"
            [container]="field?.tooltipOptions?.append" ngbTooltip="{{ field?.displayOptions?.tooltip | translate }}"
            triggers="manual" #t="ngbTooltip" (click)="t.open()" (mouseenter)="t.open()" (mouseleave)="t.close()"
            class="bi bi-exclamation-circle ms-1 fs-7"></i>
        <!-- end: tooltip icon -->
    </label>
    <div class="overlay overflow-hidden" (click)="openfileUploader()">
        <div class="p-0">
            <div class="overlay-wrapper d-flex justify-content-center align-items-center h-150px bg-gray-100">
                <img [onErrorImage]="fileEnum.IMAGE"
                    [img-preloader]="form?.get(field.key)?.value ? (bucketAwsUrl + form?.get(field.key)?.value) : fileEnum.IMAGE"
                    alt="" class="w-100 rounded object-contain" [ngClass]="heightClass" />
            </div>
            <div class="overlay-layer bg-dark bg-opacity-25 h-150px rounded">
                <a href="javascript:void(0)" class="btn btn-primary py-3 px-5 fs-6 btn-shadow">Upload</a>
            </div>
        </div>
    </div>
    <!-- begin: field error section -->
    <app-form-error [field]="field" [form]="form" [validators]="validators" [messages]="messages"></app-form-error>
    <!-- end: field error section -->
</div>