.opacity-up {
  opacity: 0;
}
.loader-parent {
  position: relative;
  height: 100%;
}

.preloader-spinner {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: 50;
  opacity: 0.6;

  .status {
    position: absolute;
    left: 0;
    right: 0;
    // top: 50%;
    // transform: translateY(-50%);

    .small-loader-spinner {
      width: 48px;
      height: 48px;
      position: relative;
      margin: 40px auto;

      .spinner.spinner-sm:before {
        width: 1.25rem;
        height: 1.25rem;
        margin-top: 0 !important;
      }
    }

    .loader-spinner {
      width: 80px;
      height: 80px;
      position: relative;
      margin: 100px auto;
    }
    .double-bounce1,
    .double-bounce2 {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #2f55d4;
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;
      animation: sk-bounce 2s infinite ease-in-out;
    }

    .double-bounce2 {
      animation-delay: -1s;
    }
    .lds-hourglass {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-hourglass:after {
      content: " ";
      display: block;
      border-radius: 50%;
      width: 0;
      height: 0;
      margin: 8px;
      box-sizing: border-box;
      border: 32px solid #fff;
      border-color: #fff transparent #fff transparent;
      animation: lds-hourglass 1.2s infinite;
    }

    .ldio-uk4kw4dp25p div {
      left: 47px;
      top: 24px;
      position: absolute;
      animation: ldio-uk4kw4dp25p linear 1s infinite;
      background: #fe718d;
      width: 6px;
      height: 12px;
      border-radius: 3px / 6px;
      transform-origin: 3px 26px;
    }
    .ldio-uk4kw4dp25p div:nth-child(1) {
      transform: rotate(0deg);
      animation-delay: -0.9166666666666666s;
      background: #fe718d;
    }
    .ldio-uk4kw4dp25p div:nth-child(2) {
      transform: rotate(30deg);
      animation-delay: -0.8333333333333334s;
      background: #fe718d;
    }
    .ldio-uk4kw4dp25p div:nth-child(3) {
      transform: rotate(60deg);
      animation-delay: -0.75s;
      background: #fe718d;
    }
    .ldio-uk4kw4dp25p div:nth-child(4) {
      transform: rotate(90deg);
      animation-delay: -0.6666666666666666s;
      background: #fe718d;
    }
    .ldio-uk4kw4dp25p div:nth-child(5) {
      transform: rotate(120deg);
      animation-delay: -0.5833333333333334s;
      background: #fe718d;
    }
    .ldio-uk4kw4dp25p div:nth-child(6) {
      transform: rotate(150deg);
      animation-delay: -0.5s;
      background: #fe718d;
    }
    .ldio-uk4kw4dp25p div:nth-child(7) {
      transform: rotate(180deg);
      animation-delay: -0.4166666666666667s;
      background: #fe718d;
    }
    .ldio-uk4kw4dp25p div:nth-child(8) {
      transform: rotate(210deg);
      animation-delay: -0.3333333333333333s;
      background: #fe718d;
    }
    .ldio-uk4kw4dp25p div:nth-child(9) {
      transform: rotate(240deg);
      animation-delay: -0.25s;
      background: #fe718d;
    }
    .ldio-uk4kw4dp25p div:nth-child(10) {
      transform: rotate(270deg);
      animation-delay: -0.16666666666666666s;
      background: #fe718d;
    }
    .ldio-uk4kw4dp25p div:nth-child(11) {
      transform: rotate(300deg);
      animation-delay: -0.08333333333333333s;
      background: #fe718d;
    }
    .ldio-uk4kw4dp25p div:nth-child(12) {
      transform: rotate(330deg);
      animation-delay: 0s;
      background: #fe718d;
    }
    .loadingio-spinner-spinner-abwpzq69c1k {
      width: 48px;
      height: 48px;
      display: inline-block;
      overflow: hidden;
      background: none;
    }
    .ldio-uk4kw4dp25p {
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateZ(0) scale(0.48);
      backface-visibility: hidden;
      transform-origin: 0 0; /* see note above */
    }
    .ldio-uk4kw4dp25p div {
      box-sizing: content-box;
    }
  }
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

@keyframes ldio-uk4kw4dp25p {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

//rounded loader start
.lds-ring {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  margin: 8px;
  border: 8px solid #009ef7;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #009ef7 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
