<div class="modal-header pt-4 pb-3 px-7">
    <h3 class="card-title fw-bold text-gray-800">Credit History</h3>
    <button type="button" class="btn-close" aria-label="Close button" aria-describedby="modal-title"
        (click)="close()"></button>
</div>
<div class="modal-body">
    <div class="d-flex flex-stack">
        <div class="text-gray-700 fw-semibold fs-6 me-2">Type</div>
        <div class="d-flex align-items-senter">
            <span class="text-gray-900 fw-bolder fs-6">7.8</span>
        </div>
    </div>
    <div class="d-flex flex-stack">
        <div class="text-gray-700 fw-semibold fs-6 me-2">Device</div>
        <div class="d-flex align-items-senter">
            <span class="text-gray-900 fw-bolder fs-6">7.8</span>
        </div>
    </div>
    <div class="d-flex flex-stack">
        <div class="text-gray-700 fw-semibold fs-6 me-2">Credit Used</div>
        <div class="d-flex align-items-senter">
            <span class="text-gray-900 fw-bolder fs-6">7.8</span>
        </div>
    </div>
    <div class="d-flex flex-stack">
        <div class="text-gray-700 fw-semibold fs-6 me-2">Time</div>
        <div class="d-flex align-items-senter">
            <span class="text-gray-900 fw-bolder fs-6">7.8</span>
        </div>
    </div>
</div>
