<app-form-control-layout [hidden]="hidden.value" [prefix]="prefix || ''" [field]="field" [form]="form"
  [validators]="validators" [messages]="messages" (labelAction)="labelAction.emit($event)">

  <div [formGroup]="form" class="position-relative">
    <!-- begin: image input -->
    <div class="image-input" [ngClass]="{ 
      'image-input-circle': field?.templateOptions?.roundControl,
      'image-input-empty': !form.get(this.field.key)?.value
     }" data-kt-image-input="true">

      <!-- begin: preview avatar -->
      <app-loader [show]="loading" type="small">
        <div class="image-input-wrapper w-125px h-125px" [style.background-image]="'url('+ bucketAwsUrl + imageUrl + ')'">
        </div>
      </app-loader>
      <!-- end: preview avatar -->

      <!-- begin: label-->
      <label *ngxPermissionsOnly="[permissionConst.CAMPAIGN_MANAGE, permissionConst.ADMINISTRATOR_ACCESS_MANAGE]"
        class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
        data-kt-image-input-action="change"
        ngbTooltip="{{ (field?.displayOptions?.change || 'COMMON.TOOLTIP.CHANGE_IMAGE') | translate }}" container="body"
        triggers="manual" #ci="ngbTooltip" (click)="ci.open()" (mouseenter)="ci.open()" (mouseleave)="ci.close()">
        <i class="bi bi-pencil-fill fs-7"></i>
        <!-- begin: inputs -->
        <input #fileInput type="file" id="{{prefix}}{{field.key}}" name="profile_avatar" [formControlName]="controlKey"
          (change)="fileChange($event)" accept="{{ field?.fileOptions?.accepts || 'image/*' }}" />
        <input type="hidden" name="avatar_remove">
        <!-- end: inputs -->
      </label>
      <!-- end: label -->

      <!-- begin : remove -->
      <span *ngxPermissionsOnly="[permissionConst.CAMPAIGN_MANAGE, permissionConst.ADMINISTRATOR_ACCESS_MANAGE]"
        class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
        data-kt-image-input-action="remove"
        ngbTooltip="{{ (field?.displayOptions?.remove || 'COMMON.TOOLTIP.REMOVE_IMAGE') | translate }}" container="body"
        triggers="manual" #ri="ngbTooltip" (click)="removeFile()" (mouseenter)="ri.open()" (mouseleave)="ri.close()">
        <i class="bi bi-x fs-2"></i>
      </span>
      <!-- end: remove -->
    </div>
    <!-- end: image input -->

    <!-- begin: display error message -->
    <div *ngIf="error" class="invalid-feedback d-block">{{error}}<a href="javascript:void(0);" (click)="_clearMessage()"
        ngbTooltip="{{ 'COMMON.TOOLTIP.RESET' | translate }}" container="body" triggers="manual" #reset="ngbTooltip"
        (click)="reset.open()" (mouseenter)="reset.open()" (mouseleave)="reset.close()">&nbsp;{{
        'COMMON.LABEL.RESET' | translate }}</a>
    </div>
    <!--end: display error message -->
  </div>
</app-form-control-layout>