<div class="row mx-0 mb-6">
  <label class="col-lg-2 col-form-label fw-bold fs-6">Business Logo</label>
  <div class="col-lg-10">
    <div
      class="w-250px h-75px bgi-position-center bgi-no-repeat bgi-size-contain border border-3 border-gray-300 rounded-3 max-w-100"
      style="background-image: url('{{ form.get(this.field.key)?.value || imageEnum.BUSINESS_LOGO }}')">
    </div>
  </div>
</div>

<div class="bs-branding" appDroppableFile (fileDropped)="fileChange($event, null)"
  [ngStyle]="{ 'background-image': cropperOptions ? 'url(/assets/media/inline-svg/image-cropper/branding.svg)' : '' }"
  [formGroup]="form" [class.image-cropper-bg]="cropperOptions">
  <div [hidden]="cropperOptions" (click)="openFile()" class="text-center bg-transparent">
    <h2>Drag and drop your logo here.</h2>
    <div class="mb-3">Maximum size is 2MB, PNG,JPG Supported</div>
    <input hidden #fileInput type="file" id="{{prefix}}{{field.key}}" name="profile_avatar"
      (change)="fileChange($any($event)?.target?.files, $event)" accept="image/*" />
    <button type="button" class="btn btn-sm py-2 btn-light btn-light-primary me-2">Upload
      file</button>
  </div>

  <ng-container *ngIf="cropperOptions">
    <div class="row">
      <div class="col-md-12" (mousewheel)="mousewheelHandler($event)">
        <div>
          <image-cropper class="cropper-container" style="height: 294px;"
            [isStaicHeight]="{height : '294px' , staticHeight : true}" [containWithinAspectRatio]="false"
            [transform]="transform" [cropper]="coordinates" [imageChangedEvent]="cropperOptions?.file"
            [canvasRotation]="canvasRotation" [maintainAspectRatio]="true" [aspectRatio]="aspectRatio"
            [roundCropper]="false" [cropperMinWidth]="200" [cropperMinHeight]="200" [format]="type" [imageQuality]="30"
            (imageCropped)="imageCropped($event)"></image-cropper>
        </div>
      </div>
    </div>
    <div class="bs-icon bs-brand-trash">
      <i class="fa fa-trash cursor-pointer bs-brand-icon-font-size" (click)="removeFile()" aria-hidden="true"></i>
    </div>
    <div class="bs-brand-zoom-control">
      <i class="bi bi-plus-lg cursor-pointer bs-brand-icon-zoom-in-out-btns bs-icon mb-5" (click)="zoomIn(true)"></i>
      <i class="bi bi-dash-lg cursor-pointer bs-brand-icon-zoom-in-out-btns bs-icon" (click)="zoomOut(true)"></i>
    </div>
  </ng-container>
</div>

<div class="row my-7 mx-0" *ngIf="form.get(this.controlKey)?.value">
  <label class="col-lg-2 col-form-label fw-bold fs-6">Preview</label>
  <div class="col-lg-10">
    <img
      class="w-250px h-75px bgi-no-repeat bgi-position-center bgi-size-cover border border-3 border-gray-300 rounded-3 max-w-100"
      [src]="form.get(this.controlKey)?.value">
  </div>
</div>