<div [formGroup]="form" class="custom-py-3-editor" [hidden]="hidden.value">
  <label class="{{ field?.classNames?.label || 'form-label fw-medium fs-7 pb-2 mb-0' }}" for="{{id}}"
    [ngClass]="{  'required': validators?.required, 'text-danger': ((form?.get(field.key)?.dirty || form?.get(field.key)?.touched) && form?.get(field.key)?.errors) } ">{{
    field?.displayOptions?.label | translate }}
    <!-- begin: tooltip icon -->
    <i *ngIf="field?.displayOptions?.tooltip" [placement]="field?.tooltipOptions?.position || 'auto'"
      [container]="field?.tooltipOptions?.append" ngbTooltip="{{ field?.displayOptions?.tooltip | translate }}"
      triggers="manual" #t="ngbTooltip" (click)="t.open()" (mouseenter)="t.open()" (mouseleave)="t.close()"
      class="bi bi-exclamation-circle ms-1 fs-7"></i>
    <!-- end: tooltip icon -->
  </label>
  <div class="row m-0">
    <ng-container *ngFor="let option of items ;let i = index">
      <div class="col-{{field?.templateOptions?.grid || '6' }} mb-2"
        [ngClass]="{ 'active' : option.value === form.get(field.key)?.value  }" (click)="notifyChange(option.value)">
        <span [inlineSVG]="option.svg" class="m-0 w-100 cursor-pointer"
          [ngClass]="{ 'svg-primary' : option.value === form.get(field.key)?.value  }"></span>
        <div>{{option.text}}</div>
      </div>
    </ng-container>
  </div>
</div>