<div class="d-flex gap-2">
    <div class="d-flex align-items-center position-relative ms-auto">
      <span class="svg-icon svg-icon-1 position-absolute ms-4 text-dark"
        [inlineSVG]="'./assets/media/icons/duotune/general/gen021.svg'">
      </span>
      <input type="text" [(ngModel)]="searchString"
        class="form-control form-control-sm form-control-solid w-250px ps-14" placeholder="Search Product">
    </div>
    <button type="button" class="btn py-2 btn-sm btn-primary" (click)="getImagesCall(true)">
      Search
    </button>
  </div>
  <app-image-preview [imageList]="imageList" (imageClick)="imageClicked.emit($event)"></app-image-preview>
  <app-no-result-found *ngIf="!imageList.length" class="mt-20"></app-no-result-found>
  <div class="w-100 d-flex align-items-center justify-content-center py-2">
    <button class="btn btn-sm btn-primary py-2" *ngIf="moreTenorImagesAvailable" (click)="getImagesCall()">Load More</button>
  </div>